<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="https://jakarta.ee/xml/ns/jakartaee" xmlns:web="http://xmlns.jcp.org/xml/ns/javaee" xsi:schemaLocation="https://jakarta.ee/xml/ns/jakartaee https://jakarta.ee/xml/ns/jakartaee/web-app_5_0.xsd" id="WebApp_ID" version="5.0">
  <display-name>DietApplication</display-name>
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.jsp</welcome-file>
    <welcome-file>default.htm</welcome-file>
  </welcome-file-list>
  <servlet>
    <description></description>
    <display-name>LoginAction</display-name>
    <servlet-name>LoginAction</servlet-name>
    <servlet-class>LoginInfo.LoginAction</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>LoginAction</servlet-name>
    <url-pattern>/LoginAction</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>UserAccountServlet</display-name>
    <servlet-name>UserAccountServlet</servlet-name>
    <servlet-class>com.concordia.dietapp.service.UserAccountServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>UserAccountServlet</servlet-name>
    <url-pattern>/UserAccountServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>UserAccountServlet1</display-name>
    <servlet-name>UserAccountServlet1</servlet-name>
    <servlet-class>com.concordia.dietapp.service.UserAccountServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>UserAccountServlet1</servlet-name>
    <url-pattern>/UserAccountServlet1</url-pattern>
  </servlet-mapping>
</web-app>